.casesContainer {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.cases {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.case {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid #0D0D0D;
}

.case:hover {
    background-color: #0D0D0D;
}

.type_case {
    width: 32.1%;
    height: fit-content;

    display: flex;
    flex-direction: column;
}

.case_img {
    width: 100%;
    height: 384px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.case_glow {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(circle, #e5097ed0 0%, #e5097e75 25%, #e5097e2f 50%, transparent 75%);
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: blur(50px);
    will-change: left, top;
}

.case_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.case_img_tags {
    position: absolute;
    bottom: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    padding-bottom: 15px;
}

.case_img_tag {
    border-radius: 27px;
    padding: 10px 20px;
    border: 1px solid #FFFFFF80;
    font-family: Mulish;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 10.5px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
}

.case_img_tag:hover {
    background-color: #FFFFFF80;
    color: #000;
}

.case_bottom {
    padding: 25px 25px 40px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    z-index: 3;
}

.case_bottom_title {
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 24.24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.case_bottom_desc {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.type_shop,
.type_new {
    width: 416px;
    height: 676px;
}

.type_banner {
    width: 49%;
    height: 420px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.banner_title {
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 24.24px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.banner_desc {
    font-family: Mulish;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.banner_text {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.banner_img{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: end;
    margin-top: -50px;
}

.banner_img_container{
    width: 50%;
}

.banner_img_container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}