.videoStart {
    width: 100%;
    height: 85vh;
    margin-bottom: 50px;
    position: relative;
    margin-bottom: 70px;
}

.videoStart::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,
            #000 0%,
            #0000006e 25%,
            #ffffff00 50%);
            z-index: 2;
}

.videoStart iframe {
    border: none;
    position: relative;
    z-index: 1;
}

.videoPreview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: opacity 0.5s ease-in-out;
    background-color: #000;
}

.videoPreview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videoStart_name {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) scaleY(1);
    width: 100%;
    height: 160px;
    z-index: 3;
}

.videoStart_name img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}