* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    scroll-behavior: smooth;
    color: #fff;
}

a {
    text-decoration: none;
}


body {
    background-color: #000;
    width: 100%;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 80px;
}

.centerBlock{
    display: flex;
    justify-content: space-between;
    width: 1400px;
}